* {
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
}

body {
  background-color: #f4f4f4; 
  color: #333; 
}

nav {
  background-color: #1a1a1a; 
  margin-bottom: 50px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.heading {
  text-decoration: none;
  color: #ffffff; 
  letter-spacing: 1px;
  font-size: 30px;
  font-weight: 900;
  display: flex;
  justify-content: center;
  padding: 15px;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.input-area {
  margin-bottom: 30px;
}

input {
  width: 500px;
  height: 35px;
  border: 1px solid #ccc; 
  border-radius: 5px; 
  padding: 5px 15px;
  background-color: white;
}

input:focus {
    outline: 2px solid #333; 
}

.btn {
  width: 120px;
  height: 45px;
  border-radius: 5px;
  border: none;
  color: white;
  font-weight: 700;
  background-color: #333; 
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #000; 
}

table {
  border: none;
  width: 750px;
  padding: 10px;
  border-radius: 8px;
  background-color: #ffffff;
  box-shadow: 0 4px 15px rgba(0,0,0,0.05); 
}

th {
  font-size: 18px;
  text-align: start;
  padding: 15px 10px;
  border-bottom: 2px solid #333; 
  color: #000;
}

th:nth-child(4) {
  text-align: center;
}

tr.border-bottom td {
  border-bottom: 1px solid #eee; 
}

tbody {
  padding: 3px;
  font-size: 15px;
}

td {
  padding: 12px 10px;
}

.action {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
}


.btn-completed {
  text-decoration: none;
  color: #555;
  font-weight: bold;
}

.btn-completed:hover {
    color: #000;
}

.btn-remove {
  text-decoration: none;
  color: #888;
}

.btn-remove:hover {
    color: #cc0000; 
}